<configuration>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>*** %-5level - \(%logger{30}\)%green(%X{debugId}) %msg%n</pattern>
        </encoder>
    </appender>

    <!--<logger name="com.jolbox.bonecp" level="INFO">-->
        <!--<appender-ref ref="STDOUT" />-->
    <!--</logger>-->

    <logger name="play" level="DEBUG"/>
    <logger name="application" level="DEBUG"/>
    <logger name="ADMIN" level="DEBUG"/>

    <root level="${log.root:-info}">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="slick.basic.BasicBackend.action"          level="ON" />
    <logger name="slick.basic.BasicBackend.stream"          level="ON" />
    <logger name="slick.compiler.InsertCompiler"            level="OFF" />
    <logger name="slick.jdbc.DriverDataSource"              level="OFF" />
    <logger name="slick.jdbc.JdbcBackend.statement"         level="OFF" />
    <logger name="slick.jdbc.JdbcBackend.parameter"         level="OFF" />
    <logger name="slick.jdbc.JdbcBackend.benchmark"         level="OFF" />
    <logger name="slick.jdbc.StatementInvoker.result"       level="ON" />
    <logger name="slick.jdbc.JdbcModelBuilder"              level="OFF" />
    <logger name="slick.memory.HeapBackend"                 level="OFF" />
    <logger name="slick.memory.QueryInterpreter"            level="OFF" />
    <logger name="slick.util.AsyncExecutor"                 level="OFF" />

</configuration>

